* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif; /* Cambiado a una fuente más kawaii */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fffacd; /* Fondo amarillo pastel */
}

header {
  margin: 10px 0; /* Ajuste de margen para el header */
  text-align: center; /* Alineación centrada del contenido del header */
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  /* margin: 5px 10px; */
  width: 20%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px; /* Menos espacio debajo del título */
  color: #5f9ea0; /* Color menta para el texto del título */
}

.kawaii-character {
  display: block;
  margin: 5px auto; /* Ajuste de margen para centrar horizontalmente */
  width: 150px;
  height: auto;
}

#pantallaJuego {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

#pantallaJuego article {
  margin: 5px 0;
  font-size: 1.2rem;
  color: #5f9ea0; /* Color menta para los textos */
}

#rgb {
  background-color: #f0f0f0;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  font-weight: bold;
  margin-top: 2px; /* Menos espacio arriba del elemento rgb */
}

#pantallaColores {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  flex: 1;
  margin: 50px 0;
}

.cuadrado {
  width: 100%;
  background-color: #add8e6; /* Color azul claro para los cuadrados */
  padding-bottom: 100%;
  float: left;
  border-radius: 15%;
  border: 2px solid #5f9ea0; /* Borde menta */
}

@media screen and (min-width: 600px) {
  .cuadrado {
    width: 48%;
    padding-bottom: 48%;
  }
}

@media screen and (min-width: 800px) {
  .cuadrado {
    width: 30%;
    padding-bottom: 30%;
  }
}

footer {
  font-size: 0.8rem;
  text-align: center;
  margin: 20px 0;
  color: #5f9ea0; /* Color menta para el texto del footer */
}
