* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif; /* Cambiado a una fuente más kawaii */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  background-color: #fffacd; /* Fondo amarillo pastel */
}

header {
  margin: 2px 0; /* Ajuste de margen para el header */
  text-align: center; /* Alineación centrada del contenido del header */
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  margin: 5px 10px;
  width: 100%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 5px; /* Menos espacio debajo del título */
  color: #5f9ea0; /* Color menta para el texto del título */
}

.kawaii-character {
  display: block;
  margin: 5px auto; /* Ajuste de margen para centrar horizontalmente */
  width: 150px;
  height: 150px;
}

#pantallaJuego {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
}

#pantallaJuego article {
  margin: 15px 0;
  font-size: 1rem;
  color: #5f9ea0; /* Color menta para los textos */
  /* hay que hacer que este color se ponga en pantalla de forma dinámica si el color de fondo es oscuro tiene que ser claro y viceversa porque hay un problema de contrastes*/
}

#rgb {
  background-color: #f0f0f0;
  border: 2px solid #000;
  border-radius: 2px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: bold;
  margin-top: 2px; /* Menos espacio arriba del elemento rgb */
  margin-bottom: 2px; /* Espacio debajo del elemento rgb */
}

/*Añado el estilo a aciertos y fallos y les cambio de posicion*/
#resultados {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  /*padding: 0 300px;*/ /* Espacio a los lados */
}

#aciertos,
#fallos {
  font-size: 2rem; /* Aumenta el tamaño de la fuente */
  color: #5f9ea0; /* Mantén el color menta */
}

#pantallaColores {
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*gap: 10px;*/
  /*flex: 1;*/
  margin: 30px 0;
  /*padding: 20px;*/
}

.cuadrado {
  width: 100px;
  height: 100px;
  background-color: #add8e6; /* Color azul claro para los cuadrados */
  /*padding-bottom: 30%;*/
  float: left;
  margin: 1.33%;
  border-radius: 15%;
  border: 1px solid #5f9ea0; /* Borde menta */
}

footer {
  font-size: 0.5rem;
  text-align: center;
  margin: 5px 0;
  color: #5f9ea0; /* Color menta para el texto del footer */
}

/* Añadimos estilo al modal, este (se oculta por defecto) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilita el desplazamiento si es necesario */
  background-color: rgba(217, 225, 228, 0.582);
}

.modal-content {
  background-color: rgba(230, 230, 227, 0.884);
  margin: 15% auto;
  padding: 80px;
  border: 5px solid #888;
  border-radius: 30%;
  width: 90%;
}

h2 {
  display: flex;
  visibility: hidden;
  justify-content: center;
  font-size: 250%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#botonJugarDeNuevo {
}

/* Por favor revisar esta linea:  */
/* Dandole tamaño al tipo de pantalla tablet  @media screen and (min-width: 20px;) {  } */

/* Media Query para pantallas 2560px: Monitores de alta gama y pantallas 4K.) */
@media (max-width: 2560px) {
  body {
    font-size: 10rem;
  }

  header {
    margin: 0.5px 2px;
  }

  h1 {
    font-size: 2rem;
    margin: 30px;
    margin-bottom: 5px;
  }

  #pantallaJuego {
    height: auto;
  }

  #pantallaJuego article {
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  #rgb {
    font-size: 0.8rem;
    padding: 2px 10px;
  }

  #resultados {
    align-items: center;
    width: 100vw;
    gap: 20px;
  }

  #pantallaColores {
    width: 50vw;
    height: 40vh;
  }

  .cuadrado {
    width: 175px;
    height: 175px;
    margin: 1%;
  }

  footer {
    font-size: 20px;
    margin: 30px 0;
  }

  .kawaii-character {
    width: 200px;
    height: 200px;
  }

  form {
    width: 15vw;
  }
}

/* Media Query para pantallas 1920px: Monitores grandes y pantallas de alta resolución.) */
@media (max-width: 1920px) {
  body {
    font-size: 10rem;
  }

  header {
    margin: 0.5px 2px;
  }

  h1 {
    font-size: 2rem;
    margin: 30px;
    margin-bottom: 5px;
  }

  #pantallaJuego {
    height: auto;
  }

  #pantallaJuego article {
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  #rgb {
    font-size: 0.8rem;
    padding: 2px 10px;
  }

  #resultados {
    align-items: center;
    width: 100vw;
    gap: 20px;
  }

  #pantallaColores {
    width: 50vw;
    height: 40vh;
  }

  .cuadrado {
    width: 175px;
    height: 175px;
    margin: 1%;
  }

  footer {
    font-size: 30px;
    margin: 30px 0;
  }

  .kawaii-character {
    width: 200px;
    height: 200px;
  }

  form {
    width: 15vw;
  }
}

/* Media Query para pantallas 1440px: Monitores de tamaño medio.) */
@media (max-width: 1440px) {
  body {
    font-size: 10rem;
  }

  header {
    margin: 0.5px 2px;
  }

  h1 {
    font-size: 2rem;
    margin: 10px;
    margin-bottom: 5px;
  }

  #pantallaJuego {
    height: auto;
  }

  #pantallaJuego article {
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  #rgb {
    font-size: 0.8rem;
    padding: 2px 10px;
  }

  #resultados {
    align-items: center;
    width: 100vw;
    gap: 20px;
  }

  #pantallaColores {
    width: 50vw;
    height: 40vh;
  }

  .cuadrado {
    width: 175px;
    height: 175px;
    margin: 1%;
  }

  footer {
    font-size: 20px;
    margin: 30px 0;
  }

  .kawaii-character {
    width: 200px;
    height: 200px;
  }

  form {
    width: 17vw;
  }
}

/* Media Query para pantallas de 1280px o más (portátiles y pantallas más grandes) */
@media (max-width: 1280px) {
  body {
    font-size: 10rem;
  }

  header {
    margin: 0.5px 2px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  #pantallaJuego {
    height: auto;
  }

  #pantallaJuego article {
    font-size: 20px;
  }

  #rgb {
    font-size: 0.8rem;
    padding: 2px 10px;
  }

  #resultados {
    width: 100vw;
    gap: 10px;
  }

  #pantallaColores {
    width: 50vw;
    height: 40vh;
    margin: 0px 0;
  }

  .cuadrado {
    width: 25px;
    height: 25px;
    margin: 1%;
  }

  footer {
    font-size: 20px;
    margin: 30px 0;
  }

  .kawaii-character {
    width: 200px;
    height: 200px;
  }

  form {
    width: 15vw;
  }
}

/* Media Query para pantallas de 768px o menos (Tablets en modo retrato y algunos dispositivos pequeños en modo paisaje.) */
@media (max-width: 768px) {
  body {
    font-size: 1.2rem; /* Ajustar tamaño de fuente para pantallas más grandes */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* Asegurar que no haya márgenes externos */
  }

  header {
    margin: 10px 0; /* Ajustar el margen del header */
  }

  h1 {
    font-size: 2.2rem; /* Tamaño más grande del título */
    margin-bottom: 15px; /* Margen para el título */
  }

  #pantallaJuego {
    height: auto; /* Ajustar la altura */
    flex-grow: 1; /* Permitir que el contenido crezca para empujar el footer hacia abajo */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #pantallaJuego article {
    font-size: 1rem; /* Ajustar el tamaño de la fuente en el article */
  }

  #rgb {
    font-size: 1.2rem; /* Ajustar la fuente del rgb */
    padding: 6px 18px; /* Ajustar el padding del elemento rgb */
  }

  #resultados {
    flex-direction: row; /* Dirección en fila */
    justify-content: space-between; /* Justificación para distribuir los elementos */
    align-items: center; /* Alinear elementos en el centro */
    width: 100%; /* El contenedor debe ocupar el ancho completo */
  }

  #aciertos,
  #fallos {
    font-size: 2rem; /* Ajustar el tamaño de la fuente para los aciertos y fallos */
    margin: 10px; /* Añadir un pequeño margen */
  }

  #pantallaColores {
    flex-grow: 2; /* Aumenta la altura del contenedor de colores si es necesario */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }

  .cuadrado {
    width: 200px; /* Ajustar el ancho de los cuadrados para mantener 3 por fila */
    height: 200px;
    margin: 1%; /* Ajustar el margen entre los cuadrados */
    box-sizing: border-box; /* Incluir padding y borde en las dimensiones del elemento */
  }

  footer {
    font-size: 0.6rem; /* Ajustar el tamaño de la fuente del footer */
    margin: 0px 40px; /* Reducir el margen del footer para mantenerlo al final */
    text-align: center; /* Centrar el texto del footer */
    width: 100%; /* Asegurar que el footer ocupe el ancho completo */
    position: relative; /* Mantener el footer en el flujo del documento */
  }
}

/* Media Query para pantallas de 600px o menos (tabletas pequeñas en modo retrato) */
@media (max-width: 600px) {
  body {
    font-size: 1rem; /* Ajustar el tamaño de la fuente para mejorar la legibilidad en tablets */
  }

  header {
    margin: 8px 0; /* Más margen en el header para una separación visual adecuada */
  }

  h1 {
    font-size: 2rem; /* Tamaño de fuente del título más grande para aprovechar el espacio */
    margin-bottom: 10px; /* Aumentar el margen debajo del título para mejor separación */
  }

  #pantallaJuego {
    height: auto; /* Ajustar la altura */
  }

  #pantallaJuego article {
    font-size: 0.9rem; /* Aumentar el tamaño de la fuente en el article */
  }

  #rgb {
    font-size: 1rem; /* Aumentar el tamaño de la fuente del rgb */
    padding: 5px 15px; /* Aumentar el padding del elemento rgb */
  }

  #resultados {
    flex-direction: row; /* Mantener la dirección en fila para tablets */
    justify-content: space-between; /* Distribuir espacio entre los elementos */
    align-items: center; /* Alinear elementos en el centro */
    width: 100%; /* Mantener el contenedor a 100% de ancho */
  }

  #aciertos,
  #fallos {
    font-size: 1.8rem; /* Tamaño de fuente adecuado para aciertos y fallos */
    margin: 10px; /* Añadir margen adicional para evitar que se peguen al borde */
  }

  #pantallaColores {
    width: 100%; /* Asegurar que el contenedor ocupe el ancho completo */
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se ajusten en varias filas */
    justify-content: center; /* Centrar los elementos */
  }

  .cuadrado {
    width: 30%; /* Ajustar el ancho de los cuadrados para mantener 3 por fila*/
    padding-bottom: 30%; /* Mantener la proporción de los cuadrados*/
    margin: 1%; /* Ajustar el margen para que los cuadrados se alineen correctamente*/
    box-sizing: border-box; /* Incluir padding y borde en el ancho del elemento*/
  }

  footer {
    font-size: 0.5rem; /* Tamaño de fuente del footer adecuado para tablets */
    margin: 40px 0; /* Aumentar el margen del footer para mejor separación */
  }
}

/* Media Query para pantallas de 480px o menos (dispositivos móviles pequeños en modo paisaje) */
@media (max-width: 480px) {
  body {
    font-size: 0.9rem; /* Un poco más grande que en 320px, para pantallas un poco más grandes */
  }

  header {
    margin: 5px 0; /* Un poco más de margen en el header para un mejor espaciado */
  }

  h1 {
    font-size: 1.8rem; /* Aumentar ligeramente el tamaño del título */
    margin-bottom: 10px; /* Un poco más de margen debajo del título */
  }

  #pantallaJuego {
    height: auto; /* Mantener el ajuste automático de la altura */
  }

  #pantallaJuego article {
    font-size: 0.7rem; /* Aumentar ligeramente el tamaño de la fuente en el article */
  }

  #rgb {
    font-size: 0.9rem; /* Aumentar un poco el tamaño de la fuente del rgb */
    padding: 3px 12px; /* Aumentar ligeramente el padding del elemento rgb */
  }

  #resultados {
    flex-direction: row; /* Dirección en fila */
    justify-content: space-between; /* Distribuir espacio entre los elementos */
    align-items: center; /* Alinear elementos en el centro */
    width: 100%; /* El contenedor debe ocupar el ancho completo */
  }

  #aciertos,
  #fallos {
    font-size: 1.7rem; /* Ajustar el tamaño de la fuente para los aciertos y fallos */
    margin: 8px; /* Añadir un pequeño margen */
  }

  #pantallaColores {
    width: 100%; /* Mantener el ancho al 100% */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cuadrado {
    width: 30%; /* Ajustar el ancho de los cuadrados para un diseño más ajustado en pantallas de 480px */
    height: auto; /* Mantener la altura automática */
    margin: 1%; /* Aumentar el margen entre los cuadrados */
  }

  footer {
    font-size: 0.5rem; /* Aumentar ligeramente el tamaño de la fuente del footer */
    margin: 35px 0; /* Aumentar el margen del footer */
  }
}

/* Dando a la app el tamaño para tipo de pantalla movil de 320px: dispositivos móviles pequeños en modo retrato. */
/* Media Query para pantallas de 320px o menos*/
@media (max-width: 320px) {
  body {
    font-size: 0.8rem; /*Reducir el tamaño de la fuente para dispositivos más pequeños*/
  }

  header {
    margin: 3px 0; /*Reducir el margen del header*/
  }

  h1 {
    font-size: 1.5rem; /*Reducir el tamaño del título*/
    margin-bottom: 5px; /*Reducir el margen del tíyulo*/
  }

  #pantallaJuego {
    height: auto; /*Ajustar la altura*/
  }

  #pantallaJuego article {
    font-size: 0.6rem; /*Reducir el tamaño de la fuente en el article*/
  }

  #rgb {
    font-size: 0.8rem; /*Reducir la fuente del rgb*/
    padding: 2px 10px; /*Reducir el padding del elemento rgb*/
  }

  #resultados {
    flex-direction: row; /* Cambiar la dirección a fila */
    justify-content: space-between; /* Distribuir espacio entre los elementos */
    align-items: center; /* Alinear elementos en el centro */
    width: 100%; /* El contenedor tiene que ocupar el ancho completo */
  }

  #aciertos,
  #fallos {
    font-size: 1.5rem; /* Reducir el tamaño de la fuente para los aciertos y fallos"*/
    margin: 5px; /* Añadir un pequeño margen para evitar que los elementos se peguen al borde */
  }

  #pantallaColores {
    width: 100%; /*Ajustar el ancho al 100%*/
  }

  .cuadrado {
    width: 30%; /* Ajustar el ancho de los cuadrados para pantallas pequeñas */
    height: auto; /* Ajustar la altura automáticamente */
    margin: 1%; /* Reducir el margen entre los cuadrados */
  }

  footer {
    font-size: 0.4rem; /* Reducir el tamaño de la fuente del footer */
    margin: 30px 0; /* Reducir el margen del footer */
  }
}
