* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Cambiado a una fuente más kawaii */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFFACD; /* Fondo amarillo pastel */
}

header {
  margin: 10px 0; /* Ajuste de margen para el header */
  text-align: center; /* Alineación centrada del contenido del header */
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px; /* Menos espacio debajo del título */
  color: #5F9EA0; /* Color menta para el texto del título */
}

.kawaii-character {
  display: block;
  margin: 5px auto; /* Ajuste de margen para centrar horizontalmente */
  width: 150px; 
  height: auto;
}

#pantallaJuego {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
}

#rgb {
  background-color: #f0f0f0;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  font-weight: bold;
  margin-top: 2px; /* Menos espacio arriba del elemento rgb */
  margin-bottom: 10px; /* Espacio debajo del elemento rgb */
}

#resultados {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 300px; /* Espacio a los lados */
}

#pantallaJuego article {
  font-size: 1.2rem;
  color: #5F9EA0; /* Color menta para los textos */
}

#pantallaColores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  flex: 1;  
  margin: 20px 0;
}

.cuadrado {
  width: 25%;
  background-color: #ADD8E6; /* Color azul claro para los cuadrados */
  padding-bottom: 25%;
  float: left;
  border-radius: 15%;
  border: 2px solid #5F9EA0; /* Borde menta */
}

footer {
  font-size: 0.8rem;
  text-align: center;
  margin: 20px 0;
  color: #5F9EA0; /* Color menta para el texto del footer */
}